<!DOCTYPE html>
<html>

<head>
    <!-- -------------- Meta and Title -------------- -->
    <meta charset="utf-8">
    <title>Fluerinjy - Setting Extras</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -------------- Fonts -------------- -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- -------------- CSS - theme -------------- -->
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">
    
     <link rel="stylesheet" type="text/css" href="assets/allcp/forms/css/forms.css">
	<link rel="stylesheet" type="text/css" href="assets/js/plugins/select2/css/core.css">
	<link rel="stylesheet" type="text/css" href="assets/js/plugins/datepicker/css/bootstrap-datetimepicker.css">

    <!-- -------------- Favicon -------------- -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">

    <!-- -------------- IE8 HTML5 support  -------------- -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="content-blank sb-l-o sb-l-m">

<!-- -------------- Body Wrap  -------------- -->
<div id="main">

    <!-- -------------- Header  -------------- -->
    <header class="navbar navbar-fixed-top bg-dark">
        <div class="navbar-logo-wrapper">
            <a class="navbar-logo-text" href="#">
                <img src="assets/img/logo.png" />
            </a>
            <a class="icon-logo" href="#">
                <img src="assets/img/icon.png" />
            </a>
        </div>
         <span id="sidebar_left_toggle" class="ad ad-lines"></span>
        <form class="navbar-form navbar-left search-form square" role="search">
            <div class="input-group add-on">

                <input type="text" class="form-control" placeholder="Search..." onfocus="this.placeholder=''" onblur="this.placeholder='Search...'">

                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>

            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs">
                <div class="navbar-btn btn-group">
                    <a href="#" class="topbar-dropmenu-toggle btn" data-toggle="button">
                        <span class="fa fa-magic fs20 text-info"></span>
                    </a>
                </div>
            </li>
            
            <li class="dropdown dropdown-fuse">
                <div class="navbar-btn btn-group">
                    <button data-toggle="dropdown" class="btn btn-md dropdown-toggle">
                        EN
                    </button>
                    <ul class="dropdown-menu pv5 animated animated-short fadeIn" role="menu">
                        <li>
                            <a href="javascript:void(0);"> Arabic </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown dropdown-fuse">
                <a href="#" class="dropdown-toggle fw600" data-toggle="dropdown">
                    <span class="hidden-xs"><name>Ahmed Saad</name> </span>
                    <span class="fa fa-caret-down hidden-xs mr15"></span>
                    <img src="assets/img/avatars/profile_avatar.jpg" alt="avatar" class="mw55">
                </a>
                <ul class="dropdown-menu list-group keep-dropdown w250" role="menu">
                    <li class="list-group-item">
                        <a href="#" class="animated animated-short fadeInUp">
                            <span class="fa fa-cogs"></span> Profile  Settings </a>
                    </li>
                    <li class="dropdown-footer text-center">
                        <a href="#" class="btn btn-primary btn-sm btn-bordered">
                            <span class="fa fa-power-off pr5"></span> Logout </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- -------------- /Header  -------------- -->

    <!-- -------------- Sidebar  -------------- -->
    <aside id="sidebar_left" class="nano nano-light affix">

        <!-- -------------- Sidebar Left Wrapper  -------------- -->
        <div class="sidebar-left-content nano-content">


            <!-- -------------- Sidebar Menu  -------------- -->
            <ul class="nav sidebar-menu">
                
                <li class="active">
                    <a href="index.html">
                        <span class="fa fa-dashboard"></span>
                        <span class="sidebar-title">Home</span>
                    </a>
                </li>
                
                <li>
                    <a class="accordion-toggle">
                        <span class="fa fa-th-list"></span>
                        <span class="sidebar-title">Orders</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav">
                        <li>
                            <a href="add-order.html">
                                <span class="glyphicon glyphicon-modal-window"></span> Add Order </a>
                        </li>
                        <li>
                            <a href="orders.html">
                                <span class="glyphicon glyphicon-book"></span> View Orders </a>
                        </li>
                        
                        <li>
                            <a href="delivery-orders.html">
                                <span class="glyphicon glyphicon-book"></span> View Delivery Orders </a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a class="accordion-toggle">
                        <span class="fa fa-users"></span>
                        <span class="sidebar-title">Customers</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav">
                        <li>
                            <a href="customers.html">
                                <span class="glyphicon glyphicon-book"></span> View Customers </a>
                        </li>
                        <li>
                            <a href="add-customer.html">
                                <span class="glyphicon glyphicon-modal-window"></span> Add Customer </a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a class="accordion-toggle">
                        <span class="fa fa-money"></span>
                        <span class="sidebar-title">Financial</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav">
                        <li>
                            <a href="payments.html">
                                <span class="glyphicon glyphicon-book"></span> Payments </a>
                        </li>
                        <li>
                            <a href="expenses.html">
                                <span class="glyphicon glyphicon-modal-window"></span> Expenses </a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a class="accordion-toggle">
                        <span class="fa fa-line-chart"></span>
                        <span class="sidebar-title">Reports</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav">
                        <li>
                            <a href="reports-sales.html">
                                <span class="glyphicon glyphicon-book"></span> Sales Reports </a>
                        </li>
                        <li>
                            <a href="reports-customers.html">
                                <span class="glyphicon glyphicon-modal-window"></span> Customers Reports </a>
                        </li>
                        <li>
                            <a href="reports-expenses.html">
                                <span class="glyphicon glyphicon-modal-window"></span> Expenses Reports </a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="users.html">
                        <span class="fa fa-user-secret"></span>
                        <span class="sidebar-title">Users</span>
                    </a>
                </li>
                
                <li>
                    <a class="accordion-toggle">
                        <span class="fa fa-cogs"></span>
                        <span class="sidebar-title">System Setting</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="nav sub-nav">
                        <li>
                            <a href="setting-info.html">
                                <span class="glyphicon glyphicon-book"></span> System Info </a>
                        </li>
                        <li>
                            <a href="setting-extra.html">
                                <span class="glyphicon glyphicon-modal-window"></span> Order Extras </a>
                        </li>
                        <li>
                            <a href="setting-flowers.html">
                                <span class="glyphicon glyphicon-modal-window"></span> Flowers </a>
                        </li>
                        <li>
                            <a href="setting-order-types.html">
                                <span class="glyphicon glyphicon-modal-window"></span> order Types </a>
                        </li>
                        <li>
                            <a href="setting-order-statuses.html">
                                <span class="glyphicon glyphicon-modal-window"></span> Order Statuses </a>
                        </li>
                        
                    </ul>
                </li>

            </ul>
            <!-- -------------- /Sidebar Menu  -------------- -->

        </div>
        <!-- -------------- /Sidebar Left Wrapper  -------------- -->

    </aside>

    <!-- -------------- Main Wrapper -------------- -->
    <section id="content_wrapper">

        <!-- -------------- Topbar Menu Wrapper -------------- -->
        <div id="topbar-dropmenu-wrapper">
            <div class="topbar-menu row">
                <div class="col-xs-4 col-sm-2">
                    <a href="add-order.html" class="service-box bg-danger">
                        <span class="fa fa-plus"></span>
                        <span class="service-title">New order</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="add-order.html" class="service-box bg-success">
                        <span class="fa fa-asterisk"></span>
                        <span class="service-title">Quick Order</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="orders.html" class="service-box bg-primary">
                        <span class="fa fa-list-alt"></span>
                        <span class="service-title">View Orders</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="expenses.html" class="service-box bg-alert">
                        <span class="fa fa-money"></span>
                        <span class="service-title">Expenses</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="payments.html" class="service-box bg-system">
                        <span class="fa fa-money"></span>
                        <span class="service-title">Payments</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="customers.html" class="service-box bg-dark">
                        <span class="fa fa-users"></span>
                        <span class="service-title">Customers</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- -------------- /Topbar Menu Wrapper -------------- -->


        <!-- -------------- Content -------------- -->
        <section id="content" class="animated fadeIn">
			<div class="panel">
            	<div class="text-dark pl25 fw700 fs35">
                        Extras
                    </div>
                <div class="panel-menu allcp-form theme-primary mtn">
                	
                    <div class="row">
                        <div class="col-md-6 ">
                            <a href="setting-extras-add.html" class="btn btn-info br2 btn-lg"> <i class="fa fa-plus"></i> Add Extra</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <table class="table allcp-form theme-warning tc-checkbox-1 fs13 table-hover">
                            <thead>
                            <tr class="bg-light">
                                <th class="">Extra Name</th>
                                <th class="">Available Types</th>
                                <th class="text-center">Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                
                                <td class="">Birds</td>
                                <td class="">Golden Cage - Red Cage - Regular Cage - Blue Cage</td>
                                 <td>
                                    <a href="" class="btn btn-info br2 btn-m"> Edit</a>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="">Birds</td>
                                <td class="">Golden Cage - Red Cage - Regular Cage - Blue Cage</td>
                                 <td>
                                    <a href="" class="btn btn-info br2 btn-m"> Edit</a>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="">Birds</td>
                                <td class="">Golden Cage - Red Cage - Regular Cage - Blue Cage</td>
                                 <td>
                                    <a href="" class="btn btn-info br2 btn-m"> Edit</a>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="">Birds</td>
                                <td class="">Golden Cage - Red Cage - Regular Cage - Blue Cage</td>
                                 <td>
                                    <a href="" class="btn btn-info br2 btn-m"> Edit</a>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="">Birds</td>
                                <td class="">Golden Cage - Red Cage - Regular Cage - Blue Cage</td>
                                 <td>
                                    <a href="" class="btn btn-info br2 btn-m"> Edit</a>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="">Birds</td>
                                <td class="">Golden Cage - Red Cage - Regular Cage - Blue Cage</td>
                                 <td>
                                    <a href="" class="btn btn-info br2 btn-m"> Edit</a>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="">Birds</td>
                                <td class="">Golden Cage - Red Cage - Regular Cage - Blue Cage</td>
                                 <td>
                                    <a href="" class="btn btn-info br2 btn-m"> Edit</a>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="">Birds</td>
                                <td class="">Golden Cage - Red Cage - Regular Cage - Blue Cage</td>
                                 <td>
                                    <a href="" class="btn btn-info br2 btn-m"> Edit</a>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="">Birds</td>
                                <td class="">Golden Cage - Red Cage - Regular Cage - Blue Cage</td>
                                 <td>
                                    <a href="" class="btn btn-info br2 btn-m"> Edit</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- -------------- /Content -------------- -->

    </section>


</div>
<!-- -------------- /Body Wrap  -------------- -->

<!-- -------------- Scripts -------------- -->

<!-- -------------- jQuery -------------- -->
<script src="assets/js/jquery/jquery-1.11.3.min.js"></script>
<script src="assets/js/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- -------------- HighCharts Plugin -------------- -->
<script src="assets/js/plugins/highcharts/highcharts.js"></script>

<!-- -------------- Theme Scripts -------------- -->
<script src="assets/js/utility/utility.js"></script>
<script src="assets/js/demo/demo.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/demo/widgets_sidebar.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {

        "use strict";

        // Init Theme Core
        Core.init();


    });
</script>
<!-- -------------- /Scripts -------------- -->

</body>

</html>
